.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
}

button:hover {
  background-color: #0062cc;
  cursor: pointer;
}

.progress {
  height: 25px;
  margin-top: 20px;
}

.progress-bar {
  background-color: #007bff;
  width: 0%;
}

.bg-success {
  background-color: #28a745 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.spinner-border {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#result {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
